.leads-container {
    padding: 0 40px;
}

.zips-header {
    display: inline-block;
    margin-right: 10px;
}
.zips {
    display: inline-block;
    margin-right: 20px;
}
.zip {
    // color: blue;
    // border: solid blue 1px;
    // border-radius: 3px;
    // padding: 3px;
    // margin: 0 5px;
}