/* purple color: #603384 */

// .App {
//   padding: 0;
// }

.logo-wrapper {
  display: flex;
  justify-content: center;
}

.logo {
  height: 30px;
}

.logo-title {
  display: inline;
  margin-top: 12px;
  margin-left: -10px;
  color: #fff;
  font-weight: bold;
}

.auth-wrapper a {
  color: #fff;
}