.footer {
  display: flex;
  align-items: center;
  background-color: #212121;
  color: #ffffff;
  height: 54px;
  padding: 15px 20px;
}

.left {
  flex-grow: 1;
}

.social-icon-button {
  color: #ffffff;
}

/* .right {
} */
