.header {
  background-color: #292929;
  min-height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
}

.logo {
    height: 30px;
}

.logo-title {
    display: inline;
    margin-top: 12px;
    margin-left: -10px;
    color: #fff;
    font-weight: bold;
}

.auth-wrapper a {
    color: inherit;
}
